/* :root {
  --macPointer: url("../images/icons/bigSurDefault.png"), auto;
  --macHand: url("../images/icons/bigSurPointer.png"), auto;
} */

*,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "San Francisco";
}

a {
  text-decoration: none;
}

.App {
  background-image: url("../images/macos-big-sur.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* Styling the cursor */
.App {
  /* cursor: var(--macPointer); */
}
/* https://github.com/ful1e5/apple_cursor/blob/main/svg/bigsur/static/hand2.svg */
li {
  list-style: none;
}
