html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  background-image: url("../images/macos-big-sur.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.upper-dock-bg {
  width: 100%;
  height: 1.5em;
  background: rgba(83, 83, 83, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
