*,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "San Francisco";
}

a {
  text-decoration: none;
}

.App {
  background-image: url("../images/macos-big-sur.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* Styling the cursor */
.App {
  /* cursor: none; */
  cursor: url("../images/icons/bigSurDefault.png"), auto;
}
/* https://github.com/ful1e5/apple_cursor/blob/main/svg/bigsur/static/hand2.svg */
.selection-box {
  position: absolute;
  border: 2px dashed rgba(0, 122, 255, 0.8); /* Adjust the color as needed */
  background-color: rgba(
    0,
    122,
    255,
    0.2
  ); /* Adjust the color and opacity as needed */
  pointer-events: none;
  z-index: 9999;
}
